In [5]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import time
plt.style.use('ggplot')
from pathlib import Path
from collections import Counter
import csv

In [6]:
df = pd.read_csv('locations.csv')

C:\Users\afann\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
0,75 North Market Street,N,"Scranton--Wilkes-Barre, PA",NaN,0,NaN,42540,1,"Scranton--Wilkes-Barre, PA",0,...,"Citizens Bank, National Association",NANTICOKE BRANCH,1514,11/01/2021,11,PA,42079,Pennsylvania,216664,18634
1,196 South Wyoming Avenue,N,"Scranton--Wilkes-Barre, PA",NaN,0,NaN,42540,1,"Scranton--Wilkes-Barre, PA",0,...,"Citizens Bank, National Association",KINGSTON BRANCH,1517,11/01/2021,11,PA,42079,Pennsylvania,216669,18704
2,2 W Swedesford Rd,N,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","Montgomery County-Bucks County-Chester County, PA",1,33874.0,37980,1,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",0,...,"Wells Fargo Bank, National Association",VALLEY FORGE BRANCH,7974,11/01/2021,11,PA,42029,Pennsylvania,216774,19333
3,1993 S Eighty Eight Rd,NM,NaN,NaN,0,0.0,0,0,NaN,0,...,Community Bank,Greensboro Branch,1,11/01/2021,23,PA,42059,Pennsylvania,216798,15338
4,1310 Liberty St.,N,"Oil City, PA",NaN,0,NaN,0,0,NaN,1,...,"PNC Bank, National Association",FRANKLIN BRANCH,2874,11/01/2021,11,PA,42121,Pennsylvania,216827,16323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83741,2381 Post Road,SB,"Providence-Warwick, RI-MA",NaN,0,NaN,39300,1,"Providence-Warwick, RI-MA",0,...,"Home Loan Investment Bank, F.S.B.",2381 Post Road Branch,4,11/01/2021,11,RI,44003,Rhode Island,638567,2886
83742,1860 Payne Street,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1,19124.0,19100,1,"Dallas-Fort Worth-Arlington, TX",0,...,"PNC Bank, National Association",Victory Park Branch,4546,11/01/2021,11,TX,48113,Texas,638695,75201
83743,122 Broadway N,N,"Fargo, ND-MN",NaN,0,NaN,22020,1,"Fargo, ND-MN",0,...,"JPMorgan Chase Bank, National Association",Downtown Fargo Branch,8761,11/01/2021,11,ND,38017,North Dakota,638736,58102
83744,"1135 Muhlenbergia Drive, Suite 102",N,"Charleston-North Charleston, SC",NaN,0,NaN,16700,1,"Charleston-North Charleston, SC",0,...,"TD Bank, National Association",North Mount Pleasant Branch,1856,11/01/2021,11,SC,45019,South Carolina,638914,29466
83745,100 East Hamilton Street,NM,"Abilene, TX",NaN,0,NaN,10180,1,"Abilene, TX",0,...,The First State Bank,Stamford Branch,2,11/01/2021,11,TX,48253,Texas,638966,79553

In [9]:
df.count()

ADDRESS            83746
BKCLASS            83746
CBSA               74685
CBSA_DIV           19529
CBSA_DIV_FLG       83746
CBSA_DIV_NO        28590
CBSA_METRO         83746
CBSA_METRO_FLG     83746
CBSA_METRO_NAME    65428
CBSA_MICRO_FLG     83746
CBSA_NO            83746
CERT               83746
CITY               83746
COUNTY             83746
CSA                60646
CSA_FLG            83746
CSA_NO             69707
ESTYMD             83746
FI_UNINUM          83746
MAINOFF            83746
NAME               83746
OFFNAME            83746
OFFNUM             83746
RUNDATE            83746
SERVTYPE           83746
STALP              82936
STCNTY             83746
STNAME             82936
UNINUM             83746
ZIP                83746
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83746 entries, 0 to 83745
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ADDRESS          83746 non-null  object
 1   BKCLASS          83746 non-null  object
 2   CBSA             74685 non-null  object
 3   CBSA_DIV         19529 non-null  object
 4   CBSA_DIV_FLG     83746 non-null  int64
 5   CBSA_DIV_NO      28590 non-null  float64
 6   CBSA_METRO       83746 non-null  int64
 7   CBSA_METRO_FLG   83746 non-null  int64
 8   CBSA_METRO_NAME  65428 non-null  object
 9   CBSA_MICRO_FLG   83746 non-null  int64
 10  CBSA_NO          83746 non-null  int64
 11  CERT             83746 non-null  int64
 12  CITY             83746 non-null  object
 13  COUNTY           83746 non-null  object
 14  CSA              60646 non-null  object
 15  CSA_FLG          83746 non-null  int64
 16  CSA_NO           69707 non-null  float64
 17  ESTYMD           83746 non-null  object
 18  FI_UNINUM        83746 non-null  int64
 19  MAINOFF          83746 non-null  int64
 20  NAME             83746 non-null  object
 21  OFFNAME          83746 non-null  object
 22  OFFNUM           83746 non-null  int64
 23  RUNDATE          83746 non-null  object
 24  SERVTYPE         83746 non-null  int64
 25  STALP            82936 non-null  object
 26  STCNTY           83746 non-null  int64
 27  STNAME           82936 non-null  object
 28  UNINUM           83746 non-null  int64
 29  ZIP              83746 non-null  object
dtypes: float64(2), int64(13), object(15)
memory usage: 19.2+ MB

In [11]:
df_data_dropped = df.dropna(how='all')

In [14]:
df_data_dropped

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
0,75 North Market Street,N,"Scranton--Wilkes-Barre, PA",NaN,0,NaN,42540,1,"Scranton--Wilkes-Barre, PA",0,...,"Citizens Bank, National Association",NANTICOKE BRANCH,1514,11/01/2021,11,PA,42079,Pennsylvania,216664,18634
1,196 South Wyoming Avenue,N,"Scranton--Wilkes-Barre, PA",NaN,0,NaN,42540,1,"Scranton--Wilkes-Barre, PA",0,...,"Citizens Bank, National Association",KINGSTON BRANCH,1517,11/01/2021,11,PA,42079,Pennsylvania,216669,18704
2,2 W Swedesford Rd,N,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","Montgomery County-Bucks County-Chester County, PA",1,33874.0,37980,1,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",0,...,"Wells Fargo Bank, National Association",VALLEY FORGE BRANCH,7974,11/01/2021,11,PA,42029,Pennsylvania,216774,19333
3,1993 S Eighty Eight Rd,NM,NaN,NaN,0,0.0,0,0,NaN,0,...,Community Bank,Greensboro Branch,1,11/01/2021,23,PA,42059,Pennsylvania,216798,15338
4,1310 Liberty St.,N,"Oil City, PA",NaN,0,NaN,0,0,NaN,1,...,"PNC Bank, National Association",FRANKLIN BRANCH,2874,11/01/2021,11,PA,42121,Pennsylvania,216827,16323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83741,2381 Post Road,SB,"Providence-Warwick, RI-MA",NaN,0,NaN,39300,1,"Providence-Warwick, RI-MA",0,...,"Home Loan Investment Bank, F.S.B.",2381 Post Road Branch,4,11/01/2021,11,RI,44003,Rhode Island,638567,2886
83742,1860 Payne Street,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1,19124.0,19100,1,"Dallas-Fort Worth-Arlington, TX",0,...,"PNC Bank, National Association",Victory Park Branch,4546,11/01/2021,11,TX,48113,Texas,638695,75201
83743,122 Broadway N,N,"Fargo, ND-MN",NaN,0,NaN,22020,1,"Fargo, ND-MN",0,...,"JPMorgan Chase Bank, National Association",Downtown Fargo Branch,8761,11/01/2021,11,ND,38017,North Dakota,638736,58102
83744,"1135 Muhlenbergia Drive, Suite 102",N,"Charleston-North Charleston, SC",NaN,0,NaN,16700,1,"Charleston-North Charleston, SC",0,...,"TD Bank, National Association",North Mount Pleasant Branch,1856,11/01/2021,11,SC,45019,South Carolina,638914,29466
83745,100 East Hamilton Street,NM,"Abilene, TX",NaN,0,NaN,10180,1,"Abilene, TX",0,...,The First State Bank,Stamford Branch,2,11/01/2021,11,TX,48253,Texas,638966,79553

In [21]:
df_columns_dropped = df_data_dropped.where(df_data_dropped.NAME =='Bank of America, National Association')

In [25]:
df_columns_dropped.head(150)

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,16209 Bryant Road,N,"Portland-Vancouver-Hillsboro, OR-WA",NaN,0.0,NaN,38900.0,1.0,"Portland-Vancouver-Hillsboro, OR-WA",0.0,...,"Bank of America, National Association",LAKE GROVE BRANCH,2566.0,11/01/2021,11.0,OR,41005.0,Oregon,224786.0,97035
146,600 North Main St,N,"Charleston-North Charleston, SC",NaN,0.0,NaN,16700.0,1.0,"Charleston-North Charleston, SC",0.0,...,"Bank of America, National Association",SUMMERVILLE MAIN BRANCH,3409.0,11/01/2021,11.0,SC,45035.0,South Carolina,224861.0,29483
147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_columns_dropped.dropna()

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
195,8788 Georgia Avenue,N,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Frederick-Gaithersburg-Rockville, MD",1.0,23224.0,47900.0,1.0,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0.0,...,"Bank of America, National Association",NORTH SILVER SPRING BRANCH,3931.0,11/01/2021,11.0,MD,24031.0,Maryland,228121.0,20910
263,16 School St,N,"Boston-Cambridge-Newton, MA-NH","Boston, MA",1.0,14454.0,14460.0,1.0,"Boston-Cambridge-Newton, MA-NH",0.0,...,"Bank of America, National Association",Foxborough Branch,7364.0,11/01/2021,11.0,MA,25021.0,Massachusetts,232620.0,2035
317,6331 West Archer Avenue,N,"Chicago-Naperville-Elgin, IL-IN-WI","Chicago-Naperville-Evanston, IL",1.0,16984.0,16980.0,1.0,"Chicago-Naperville-Elgin, IL-IN-WI",0.0,...,"Bank of America, National Association",GARFIELD RIDGE BRANCH,9118.0,11/01/2021,11.0,IL,17031.0,Illinois,235866.0,60638
384,24120 Ford Road,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",FORD/TELEGRAPH BRANCH,9174.0,11/01/2021,11.0,MI,26163.0,Michigan,238940.0,48127
385,3031 West Grand Blvd,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",NEW CENTER ONE BRANCH,9192.0,11/01/2021,11.0,MI,26163.0,Michigan,238979.0,48202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82910,114 West 47th St,N,"New York-Newark-Jersey City, NY-NJ-PA","New York-Jersey City-White Plains, NY-NJ",1.0,35614.0,35620.0,1.0,"New York-Newark-Jersey City, NY-NJ-PA",0.0,...,"Bank of America, National Association",WEST 47TH STREET PWM BRANCH,9004.0,11/01/2021,23.0,NY,36061.0,New York,476072.0,10036
82960,2 South Michigan Avenue,N,"Chicago-Naperville-Elgin, IL-IN-WI","Chicago-Naperville-Evanston, IL",1.0,16984.0,16980.0,1.0,"Chicago-Naperville-Elgin, IL-IN-WI",0.0,...,"Bank of America, National Association",CHICAGO MICHIGAN AND MADISON BRANCH,9019.0,11/01/2021,11.0,IL,17031.0,Illinois,480118.0,60603
83126,5636 Lemmon Avenue,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1.0,19124.0,19100.0,1.0,"Dallas-Fort Worth-Arlington, TX",0.0,...,"Bank of America, National Association",LEMMON AND INWOOD BRANCH,9643.0,11/01/2021,11.0,TX,48113.0,Texas,500328.0,75209
83203,200 Hudson St Ste 162,N,"New York-Newark-Jersey City, NY-NJ-PA","New York-Jersey City-White Plains, NY-NJ",1.0,35614.0,35620.0,1.0,"New York-Newark-Jersey City, NY-NJ-PA",0.0,...,"Bank of America, National Association",HARBORSIDE BRANCH,9709.0,11/01/2021,11.0,NJ,34017.0,New Jersey,521460.0,7311
83371,4001 Cross Timbers Road,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1.0,19124.0,19100.0,1.0,"Dallas-Fort Worth-Arlington, TX",0.0,...,"Bank of America, National Association",CROSS TIMBERS VILLAGE BRANCH,9760.0,11/01/2021,11.0,TX,48121.0,Texas,560429.0,75028

In [31]:
boa_df = df_columns_dropped.dropna()

In [32]:
boa_df

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
195,8788 Georgia Avenue,N,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Frederick-Gaithersburg-Rockville, MD",1.0,23224.0,47900.0,1.0,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0.0,...,"Bank of America, National Association",NORTH SILVER SPRING BRANCH,3931.0,11/01/2021,11.0,MD,24031.0,Maryland,228121.0,20910
263,16 School St,N,"Boston-Cambridge-Newton, MA-NH","Boston, MA",1.0,14454.0,14460.0,1.0,"Boston-Cambridge-Newton, MA-NH",0.0,...,"Bank of America, National Association",Foxborough Branch,7364.0,11/01/2021,11.0,MA,25021.0,Massachusetts,232620.0,2035
317,6331 West Archer Avenue,N,"Chicago-Naperville-Elgin, IL-IN-WI","Chicago-Naperville-Evanston, IL",1.0,16984.0,16980.0,1.0,"Chicago-Naperville-Elgin, IL-IN-WI",0.0,...,"Bank of America, National Association",GARFIELD RIDGE BRANCH,9118.0,11/01/2021,11.0,IL,17031.0,Illinois,235866.0,60638
384,24120 Ford Road,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",FORD/TELEGRAPH BRANCH,9174.0,11/01/2021,11.0,MI,26163.0,Michigan,238940.0,48127
385,3031 West Grand Blvd,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",NEW CENTER ONE BRANCH,9192.0,11/01/2021,11.0,MI,26163.0,Michigan,238979.0,48202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82910,114 West 47th St,N,"New York-Newark-Jersey City, NY-NJ-PA","New York-Jersey City-White Plains, NY-NJ",1.0,35614.0,35620.0,1.0,"New York-Newark-Jersey City, NY-NJ-PA",0.0,...,"Bank of America, National Association",WEST 47TH STREET PWM BRANCH,9004.0,11/01/2021,23.0,NY,36061.0,New York,476072.0,10036
82960,2 South Michigan Avenue,N,"Chicago-Naperville-Elgin, IL-IN-WI","Chicago-Naperville-Evanston, IL",1.0,16984.0,16980.0,1.0,"Chicago-Naperville-Elgin, IL-IN-WI",0.0,...,"Bank of America, National Association",CHICAGO MICHIGAN AND MADISON BRANCH,9019.0,11/01/2021,11.0,IL,17031.0,Illinois,480118.0,60603
83126,5636 Lemmon Avenue,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1.0,19124.0,19100.0,1.0,"Dallas-Fort Worth-Arlington, TX",0.0,...,"Bank of America, National Association",LEMMON AND INWOOD BRANCH,9643.0,11/01/2021,11.0,TX,48113.0,Texas,500328.0,75209
83203,200 Hudson St Ste 162,N,"New York-Newark-Jersey City, NY-NJ-PA","New York-Jersey City-White Plains, NY-NJ",1.0,35614.0,35620.0,1.0,"New York-Newark-Jersey City, NY-NJ-PA",0.0,...,"Bank of America, National Association",HARBORSIDE BRANCH,9709.0,11/01/2021,11.0,NJ,34017.0,New Jersey,521460.0,7311
83371,4001 Cross Timbers Road,N,"Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",1.0,19124.0,19100.0,1.0,"Dallas-Fort Worth-Arlington, TX",0.0,...,"Bank of America, National Association",CROSS TIMBERS VILLAGE BRANCH,9760.0,11/01/2021,11.0,TX,48121.0,Texas,560429.0,75028

In [34]:
boa_df.head()

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,...,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
195,8788 Georgia Avenue,N,"Washington-Arlington-Alexandria, DC-VA-MD-WV","Frederick-Gaithersburg-Rockville, MD",1.0,23224.0,47900.0,1.0,"Washington-Arlington-Alexandria, DC-VA-MD-WV",0.0,...,"Bank of America, National Association",NORTH SILVER SPRING BRANCH,3931.0,11/01/2021,11.0,MD,24031.0,Maryland,228121.0,20910
263,16 School St,N,"Boston-Cambridge-Newton, MA-NH","Boston, MA",1.0,14454.0,14460.0,1.0,"Boston-Cambridge-Newton, MA-NH",0.0,...,"Bank of America, National Association",Foxborough Branch,7364.0,11/01/2021,11.0,MA,25021.0,Massachusetts,232620.0,2035
317,6331 West Archer Avenue,N,"Chicago-Naperville-Elgin, IL-IN-WI","Chicago-Naperville-Evanston, IL",1.0,16984.0,16980.0,1.0,"Chicago-Naperville-Elgin, IL-IN-WI",0.0,...,"Bank of America, National Association",GARFIELD RIDGE BRANCH,9118.0,11/01/2021,11.0,IL,17031.0,Illinois,235866.0,60638
384,24120 Ford Road,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",FORD/TELEGRAPH BRANCH,9174.0,11/01/2021,11.0,MI,26163.0,Michigan,238940.0,48127
385,3031 West Grand Blvd,N,"Detroit-Warren-Dearborn, MI","Detroit-Dearborn-Livonia, MI",1.0,19804.0,19820.0,1.0,"Detroit-Warren-Dearborn, MI",0.0,...,"Bank of America, National Association",NEW CENTER ONE BRANCH,9192.0,11/01/2021,11.0,MI,26163.0,Michigan,238979.0,48202